body {
  overflow-y: scroll !important;
  padding-right:0 !important;
}

h2,h3{
  font-family: Proxima Nova,proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  line-height:1.5 !important;
  
}

hr{
 margin-top: 5px !important;
 margin-bottom: 15px !important;
}

