html {
    font: 400 16px/1.5 Proxima Nova,proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color: #031b4e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}


::selection {
    background: #0069ff;
    color: #fff;
    text-shadow: none;
}

:invalid {
    box-shadow: none;
}

*, :after, :before {
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    line-height: 1.5;
    text-transform: none;
    margin: 0 0 16px;
    font-family: Proxima Nova,proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
}

a {
    background: transparent;
    color: #0069ff;
    text-decoration: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
}

p {
    color: #031b4e;
    line-height: 1.5;
} 

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

h3, h4 {
    font-weight: 600;
    line-height: 1.5;
}

h5, h6 {
    font-size: 1rem;
    font-weight: 600;
}

h4 {
    font-size: 1.3rem;
}

input, textarea {
    margin: 0;
    border-radius: 0;
    font: inherit;
    font-size: 16px;
    color: inherit;
}

input:not([type]), input[type=datetime], input[type=email], input[type=number], input[type=password], input[type=range], input[type=search], input[type=tel], input[type=text], input[type=url] {
    -webkit-appearance: none;
    appearance: none;
}

input:not([type]), input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week] {
    height: 48px;
    max-width: 100%;
    padding: 0 16px;
    border: 1px solid #f1f1f1;
    background: #fff;
    color: #333;
    transition: all .25s cubic-bezier(.645,.045,.355,1);
    border-radius: 3px;
    width: 100%;
    position: relative;
}

.iyWWIA {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 65px;
    padding-left: 2rem;
    padding-right: 2rem;
    background: rgb(255, 255, 255);
    z-index: 2;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 3px;
}

.fxyNsI {
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    position: relative;
    text-decoration: underline;
    font-weight: initial;
    border-bottom: initial;
    color: rgb(183 97 23);
}

.bBpNfQ {
    position: absolute;
    z-index: 0;
    inset: -0.5rem 0px;
}

.bfcEnS {
    display: block;
}

.hUhAjW {
    display: none;
    margin-right: 1rem;
    font-size: 14px;
}

.kGvAFP {
    max-width: 1200px;
    position: relative;
    padding: 65px 0px 64px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.jXLjZO {
    position: fixed;
    z-index: 1;
    inset: 65px 0px 0px;
    background-color: rgb(245, 249, 255);
    background-size: cover;
}

.kszVAv {
    position: relative;
    z-index: 1;
    background: rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgba(91, 105, 135, 0.22);
    border-radius: 3px;
    margin-top: 10vh;
    box-shadow: rgb(0 0 0 / 25%) 0px 0.25rem 0.25rem;
    overflow: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 100%;
}

.eRQARU {
    width: 100%;
    overflow: hidden;
}

.CoLgZ {
    padding-left: 24px;
    padding-right: 24px;
}

.deECce {
   font-size: 14px;
}

.do-u-mb--small {
   margin-bottom: .5rem!important;
}

.kuTQpq.kuTQpq {
   letter-spacing: inherit;
   color: inherit;
   text-transform: inherit;
   opacity: inherit;
}

label,.kuTQpq {
   font-weight: 600;
   font-size: .875rem;
   letter-spacing: 1px;
   color: #031b4e;
   text-transform: uppercase;
}

.iUXnyj {
    color: rgb(51, 135, 255);
}

.sc-giYgFv.is-invalid .sc-hiCivh {
    color: rgb(202, 12, 12);
}

.sc-giYgFv.is-invalid .sc-kLwgWK {
    border-color: rgb(202, 12, 12);
}

.iazfkw {
    position: relative;
    margin-top: 0.25rem;
    height: 100%;
    min-width: 250px;
    max-width: 700px;
}

.giVDkR.giVDkR {
    position: relative;
    z-index: 1;
    display: block;
    border: 1px solid rgb(91, 105, 135);
    color: rgb(183 97 23);
    width: 100%;
}

.fzBOpH {
    position: absolute;
    inset: -0.25rem;
    z-index: 0;
    opacity: 0;
    border: 2px dotted rgb(91, 105, 135);
    border-radius: 3px;
}

.fwguu {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.fJNrxx {
    margin-top: 0.25rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.do-Icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    line-height: 1;
    max-width: 100%;
}

.do-Icon--large {
    width: 1.5em;
    height: 1.5em;
}

.do-u-mb--medium {
    margin-bottom: 1.5rem!important;
}

.ipNIuR {
    margin-right: 4px;
}

svg:not(:root) {
    overflow: hidden;
}

.cmGyex {
    font-weight: 600;
    color: rgb(202, 12, 12);
    height: 100%;
}

.kuTQpq {
    letter-spacing: inherit;
    color: inherit;
    text-transform: inherit;
    opacity: inherit;
    margin-bottom:0;
}

.iazfkw {
    position: relative;
    margin-top: 0.25rem;
    height: 100%;
    min-width: 250px;
    max-width: 700px;
}

.giVDkR.giVDkR {
    position: relative;
    z-index: 1;
    display: block;
    border: 1px solid rgb(91, 105, 135);
    color: rgb(183 97 23);
    width: 100%;
}

.fzBOpH {
    position: absolute;
    inset: -0.25rem;
    z-index: 0;
    opacity: 0;
    border: 2px dotted rgb(91, 105, 135);
    border-radius: 3px;
}

.fwguu {
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
}

.duZDlN {
    appearance: none;
    margin: 0px;
    overflow: visible;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-transform: none;
    display: inline-block;
    position: relative;
    padding: 0px 1rem;
    background: #b76118;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    line-height: 44px;
    height: 48px;
    min-width: 40px;
    max-width: none;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    width: 100%;
}

.duZDlN:hover {
    color: rgb(255, 255, 255);
    background: #b76118;
}

.duZDlN:focus {
    outline: none;
    position: relative;
    color: rgb(255, 255, 255);
}

.eWLxTJ {
    display: block;
    text-align: center;
    position: relative;
}

.eWLxTJ::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    border: 1px solid rgb(229, 232, 237);
    z-index: -1;
}

.eWLxTJ > span {
    color: rgb(91, 105, 135);
    background: rgb(255, 255, 255);
    padding: 0px 1rem;
    text-transform: uppercase;
}


.jqMNMu {
    appearance: none;
    margin: 0px;
    overflow: visible;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-weight: 600;
    color: rgb(0, 97, 235);
    text-transform: none;
    display: inline-block;
    position: relative;
    padding: 0px 1rem;
    background: transparent;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    line-height: 44px;
    height: 48px;
    min-width: 40px;
    max-width: none;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 97, 235);
    width: 100%;
}

.fjpJNi {
    margin-top: 16px;
}

.eWLxTJ + .sc-ieebsP {
    margin-top: 0px;
}

.eREiWo {
    display: inline-block;
    vertical-align: middle;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    height: 2rem;
    width: 2rem;
    margin-right: 8px;
    margin-top: -2px;
}

.cJssHP {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -4px;
    margin-right: 8px;
    display: inline-block;
}

.eREiWo .sc-kfPtPH {
    vertical-align: initial;
    position: relative;
    top: 1px;
    left: 4px;
}

.cDNlyh {
    background-color: rgb(0, 63, 153);
}

.cJssHP {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -4px;
    margin-right: 8px;
    display: inline-block;
}


.hDsuPB {
    text-decoration: none;
}

.juOfWY {
    margin: 1rem 0px 0.5rem;
    text-align: center;
}

.do-u-hidden, .is-hidden {
    display: none!important;
    visibility: hidden!important;
}

.kWqifs {
    appearance: none;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    grid-row: 1 / 1;
    align-self: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    pointer-events: none;
    border: 1px solid rgb(91, 105, 135);
}

.kWqifs:not(:disabled) {
    cursor: pointer;
}

.iuOWZA {
    user-select: none;
    margin: 0px;
    font-weight: 400;
    color: rgb(3, 27, 78);
    align-self: center;
    text-transform: none;
    letter-spacing: 0px;
    font-size: 16px;
}

.cRmOdb {
    grid-template-rows: auto;
    padding: 10px 0px;
    border-color: rgb(91, 105, 135);
    cursor: pointer;
    opacity: 1;
    display: grid;
    grid-template-columns: 16px repeat(1, auto);
    column-gap: 8px;
}

.gqfWkZ.gqfWkZ {
    text-transform: initial;
    letter-spacing: initial;
    font-size: inherit;
}








    




@media (min-width: 768px){

    h4 {
       font-size: 1.125rem;
    }
    .bBpNfQ {
       display: none;
    }

    .fdYigH {
       display: block;
    }

    .bfcEnS {
       display: none;
    }

    .hUhAjW {
       display: inline-block;
    }


    .juOfWY {
        margin: 1rem 0px 0.5rem;
        text-align: center;
    }
        

    h4 {
        font-size: 1.125rem;
    }

    .bBpNfQ {
        display: none;
    }


}

@media (min-width: 480px){

    .kGvAFP {
        padding-bottom: 32px;
    }

    .kszVAv {
        width: 350px;
    }
}
